.backgroundRegister{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerRegister{
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 60vw;
  height: 80vh; 
  background:rgba(255, 255, 255);
}