.backgroundRegister{
    background-image: url("../../images/fondoRegister.jpg");
    background-size: 101vw 100vh;
    width: 101vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoRegister{
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerRegister{
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 45vw;
  height: 75vh; 
  background:rgba(255, 255, 255);
  border-radius: 15px;
}

.NameRegisterInput{
  border-bottom-color: rgb(0, 0, 0, 0.39);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 20px;
  width: 30vw;
  margin-left: 5%;
  font-size: 22px;
  height: 7vh;
}

.NameRegisterInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.LastNameRegisterInput{
  border-bottom-color: rgb(0, 0, 0, 0.39);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 10px;
  width: 30vw;
  margin-left: 5%;
  font-size: 22px;
  height: 7vh;
}

.LastNameRegisterInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.EmailRegisterInput{
  border-bottom-color: rgb(0, 0, 0, 0.39);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 10px;
  width: 30vw;
  margin-left: 5%;
  font-size: 22px;
  height: 7vh;
}

.EmailRegisterInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.PassRegisterInput{
  border-bottom-color: rgb(0, 0, 0, 0.39);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 10px;
  width: 30vw;
  margin-left: 3%;
  font-size: 22px;
  height: 7vh;
}

.PassRegisterInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.CountryRegisterInput{
  border-bottom-color: rgb(0, 0, 0, 0.39);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 0px;
  width: 30vw;
  margin-left: 5%;
  font-size: 22px;
  height: 8vh;
}

.CountryRegisterInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.CountryRegisterText{
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 6%;
  color: black;
  opacity: 0.4;
  font-weight: bold;
  margin-bottom: auto;
}

.newAccountButton{
  margin-top: 20px;
  width: 20vw;
  background-color:#DE9D8D;
  box-shadow: 2px 2px 2px	#E1BDBA;
  border-color:transparent;
  font-size: 22px;
  border-radius: 50px;
  font-family: sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newAccountButton:hover{
  transition: 1.5s;
  background-color:red;
  border-color:transparent;
}

