.popup {  
    position: fixed;  
    width: 80%;  
    height: 90%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }

  .PopupTitle{
    font-size: 40px;
    color: white;
    margin-top: 30px;
  }

  .PopupInfo{
    font-size: 20px;
    color: white;
  }

  .Popup-Button{
    background-color: #E62C28;
    color: white;
    position: absolute;
    left: 44%;
    bottom: 0%;
    vertical-align: center;
    margin-bottom: 50px;
  }

  .Cash-tarjet{
    width: 20%;
    background-color: white;
    bottom: 0%;
    position: absolute;
    left: 40%;
    margin-bottom: 100px;
  }

  .Popup{
    color: white;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    margin-top: -60%;
    margin-bottom: -80px;
    margin-left: 80%;
    background-color: none;
  }