.popup {  
    position: fixed;  
    width: 80%;  
    height: 90%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
  } 

  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }

  .PopupTitle{
    font-size: 40px;
    color: white;
    margin-top: 30px;
  }

  .PopupInfo{
    font-size: 20px;
    color: white;
  }

  .Popup-Button{
    background-color: #E62C28;
    color: white;
    position: absolute;
    left: 44%;
    bottom: 0%;
    vertical-align: center;
    margin-bottom: 50px;
  }

  .Cash-tarjet{
    width: 20%;
    background-color: white;
    bottom: 0%;
    position: absolute;
    left: 40%;
    margin-bottom: 150px;
  }

  .Popup{
    color:white;
    font-weight: bold;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: -80%;
    margin-right: 5%;
    padding: 0;
    border: none;
    background: none;
    float: right;
  }

  .PopupIngredients{
   color: black;
   font-weight: bold;
   float: none;
   font-size: 28px;
   border-radius: none;
   background-color: white;
  }

  .container-ingredients{
    width: 40%;
    height: 200px;
    margin-left: 30%;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .CheckboxYes{
    height: 20px;
    width: 20px;
    background-color: black;
  }

  .buttonIngredients{
    padding: 0;
    border: black;
    color: black;
    background: white;
  }

  .buttonIngredientsDisabled{
    padding: 0;
    border: black;
    color: gray;
    background: white;
    box-shadow: none;
  }

  .WarningIngredients{
    color: #E62C28;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    margin-left: 25%;
  }

  .solicitResult{
    color: #E62C28;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    margin-top: 60px;
  }

  .solicitText{
    color: white;
    font-size: 28px;

  }