
.logo{
  width: 35vw;
  height: 25vh;
  margin-top: 20px;
  margin-bottom: -80px;
}

.login{
  padding-top: 30px;
}

.main{
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/fondoLogin.jpg");
  background-size: 40vw 120vh;
}

.container{
  width: 60vw;
  height: 100vh; 
  background:rgba(255, 255, 255);
  margin-top: 0px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 40%;
}

.loginButton{
  margin-top: 40px;
  width: 30%;
  background-color:rgb(114, 232, 135) ;
  border-color:transparent;
  font-size: 22px;
  border-radius: 20px;
  /* font-family */ 
}

.loginButton:hover{
  transition: 1.5s;
  background-color:rgb(50, 173, 70) ;
  border-color:transparent;
}

.registerButton{
  margin-top: 40px;
  width: 60%;
  background-color:rgb(114, 232, 135) ;
  border-color:transparent;
  font-size: 22px;
  border-radius: 8px;
}

.registerButton:hover{
  transition: 1.5s;
  background-color:rgb(50, 173, 70) ;
  border-color:transparent;
}

.registerButton{
  margin-top: 20px;
  width: 25%;
  background-color:rgb(114, 232, 135) ;
  border-color:transparent;
  font-size: 22px;
  border-radius: 8px;
  transition: 0.5s;
}

.content-button{
  align-content: center;
}

.passInput{
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 40px;
}

.passInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.emailInput{
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  margin-top: 40px;
}

.emailInput:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}