.list-restaurant{
  height: 30vh;
  width: 60%;
  margin-top: 2%;
  background-color: green;
  float: left;
}

.imageComponent{
  height: 20vh;
  width: 10vw;
  background-color: yellow;
  display: inline-block;
  margin-top: 2%;
}

.restaurant_name{
  display: inline-block;
}