.list-restaurant{
  height: 30vh;
  width: 60%;
  margin-top: 2%;
  background-color:white;
  float: right;
  margin-right: 30px;
  border-bottom-color: black;
  box-shadow: 1px 1px #D3D3D3;
  margin-bottom: 3px;
}

.imageComponent{
  height: 25vh;
  width: 15vw;
  margin-top: 2%;
  margin-left: 1%;
  float: left;
}

.restaurantInfo{
  height: 20vh;
  width: 50;
  display: inline-block;
}

.restaurantName{
  color: #56BABC;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.restaurantOpenTime{
  color: #BC9D7D;
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
  display:  inline-block;
  background-color: #FEF3CF;
}

.img-restaurant{
  height: 25vh;
  width: 15vw;
  border-radius: 10px;
  box-shadow: 1px 1px #D3D3D3;
}

.restaurantDescription{
  color: black;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.restaurantAddress{
  color: grey;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.restaurantButton{
  height: 100%;
  width: 20%;
  background-color: red;
}