.mainRestaurant{
  background-color: white;
  display: inline-block;
  width: 100vw;
}

.backgroundImageTop{
  height: 25vh;
  display: block;
  background-image: url("../../images/SearchfoodImage.png");
  background-size: 100vw 80vh;
  justify-content: center;
  align-self: center;
}

.filters{
  background-color: red;
  width: 30vw;
  display: inline-block;
  height: 100vh;
}

.items_filters{
  background-color: blue;
  height: 50vh;
  width: 15vw;
  margin-left: 40%;
}

.component{
  background-color: white;
  display: inline-block;
  width: 70vw;
}