.mainRestaurant{
  background-color: white;
}

.backgroundImageTop{
  height: 25vh;
  background-image: url("../../images/SearchfoodImage.png");
  background-size: 100vw 80vh;
  justify-content: center;
  align-self: center;
}

.filters{
  background-color: red;
  width: 30vw;
  min-height: 100vh;
  float: left;
}

.items_filters{
  background-color: blue;
  width: 60%;
  margin-left: 40%;
}